<section *ngIf="authService.loggedIn()" class="home-admin" fxLayout="column" fxLayoutAlign="center center">
  <div class="home-container" fxLayout="column" fxLayoutAlign="center center">
    <mat-card *ngIf="authService.loggedIn()">
      Добро пожаловать, Администратор!
    </mat-card>
    <mat-card *ngIf="!authService.loggedIn()">
      Добро пожаловать, Гость!
    </mat-card>
    <mat-card>
      <mat-card-title-group>
        <mat-card-title>Кабинет администратора 2FA</mat-card-title>
        <mat-card-subtitle>Система управления клиентами сервиса двухфакторной аутентификации</mat-card-subtitle>
        <i class="material-icons">recent_actors</i>
      </mat-card-title-group>
    </mat-card>
    <mat-card>
      <mat-card-subtitle>Описание сервиса</mat-card-subtitle>
      <mat-card-title>Сервис двухфакторной аутентификации 2FA</mat-card-title>
      <mat-card-content>
        <h2>Что такое двухфакторная аутентификация</h2>
        <p>Двухфакторная аутентификация – это система идентификации пользователя с использованием двух разных способов. Цель
          такого метода аутентификации – сделать защиту аккаунта пользователя более эффективной и надежной.</p>
        <h2>Как работает двухфакторная аутентификация</h2>
        <p>Самый простой и распространенный вариант – это использование для авторизации логина и пароля (на первом шаге) и одноразового
          пароля из СМС (на втором шаге). Помимо СМС возможны такие варианты:</p>
        <p>- Push-уведомление</p>
        <p>- Telegram-уведомление</p>
        <p>- Токен</p>
        <p>Несмотря на многообразие дополнительных способов подтверждения личности пользователя, суть метода проста – убедиться
          в том, что именно пользователь пытается войти в свой аккаунт, а не злоумышленник. Для злоумышленника наличие дополнительного
          фактора аутентификации чаще всего становится непреодолимой преградой, ведь одно дело – взломать, подобрать или
          похитить пароль, совершенно другое – завладеть мобильным телефоном реального пользователя.</p>
        <p>
          Стоит отметить, что двухфакторная аутентификация не является 100% надежным способом защиты: злоумышленники научились не только
          компрометировать Ваши обычные логины и пароли, но и выманивать одноразовые коды. Тем не менее затраты и сложность
          «работы» злоумышленника многократно возрастают. Именно поэтому сервис двухфакторной аутентификации является, пожалуй,
          самым надежным методом не только защиты, но и предупреждения пользователя об опасности взлома аккаунта (если Вам
          пришло СМС с одноразовым паролем, но Вы ее не запрашивали, то самое время менять старый пароль аккаунта на новый).
        </p>
      </mat-card-content>
      <mat-divider [inset]="true"></mat-divider>
      <mat-card-actions>
        <button mat-button>
          <a target="_blank" href="https://goo.gl/mLAiaB" style="cursor: pointer;text-decoration: none;">ПОДРОБНО</a>
        </button>
      </mat-card-actions>
    </mat-card>

    <mat-card>
      <mat-card-subtitle>Используемая технология блокчейн</mat-card-subtitle>
      <img mat-card-image src="https://www.hyperledger.org/wp-content/uploads/2018/01/Hyperledger_Sawtooth_Logo_Color.png">
      <mat-card-title>Hyperledger Sawtooth </mat-card-title>
      <mat-card-content>
        <mat-divider></mat-divider>
        <p>Hyperledger Sawtooth предоставляет инструменты для создания собственных реализаций блокчейнов, которые могут применяться
          для создания распределённых верифицированных баз данных, состоящих из взаимосвязанных транзакций, заверенных последующими
          транзакциями и исключающих изменение информации задним числом. Поступающие данные добавляются в виде обновлений
          на основе транзакций, которые применяются к распределённой между несколькими участниками БД. Участник может быть
          не связан цепочкой доверия, а достоверность БД координируется алгоритмами достижения консенсуса (для компрометации
          базы нужно одновременно получить контроль за состоянием на стороне большего числа участника).</p>
        <mat-divider></mat-divider>
        <p>Механизм консенсуса: Proof of Elapsed Time</p>
        <mat-divider></mat-divider>
        <p>Платформа не привязана к конкретной области и может применяться для финансового учёта, ведения кредитной истории,
          создания реестров ресурсов, инвентаризации, медицинских картотек и журналов различных бизнес-процессов. В разработке
          платформы приняли участие более 50 компаний, включая Amazon Web Services, Huawei, IBM, Intel, Microsoft Azure,
          Ericsson, T-Mobile и Wind River. Внедрено несколько экспериментальных прототипов систем учёта на базе Hyperledger
          Sawtooth, обеспечивающих фиксацию авторских прав на музыкальные и мультимедийные произведения, ведение медицинских
          карт и поддержание системы идентификации клиентов финансовых организаций (KYC).</p>
        <mat-divider></mat-divider>
        <mat-list>
          <mat-list-item>
            Особенности Hyperledger Sawtooth:
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            Применение смарт-контрактов для автоматизации бизнес-процессов и голосования по изменению конфигурации блокчейна (например,
            для добавления новых участников и смарт-контрактов)
          </mat-list-item>

          <mat-list-item>
            Расширенный движок выполнения транзакций, обеспечивающий параллельную обработку транзакций для ускорения формирования блоков
            и их проверки
          </mat-list-item>
          <mat-list-item>
            Поддержка интеграции с инструментарием платформы Ethereum и возможность запуска сторонних смарт-контрактов
          </mat-list-item>
          <mat-list-item>
            Возможность обновления или замены протокола достижения консенсуса по мере роста распределённой сети. Например, можно перейти
            на более масштабируемые алгоритмы расчёта консенсуса при их появлении
          </mat-list-item>
          <mat-list-item>
            Возможность разработки смарт-контрактов на различных языках программирования, в том числе на Go, JavaScript и Python
          </mat-list-item>
        </mat-list>
      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-button>
          <a target="_blank" href="https://www.linuxfoundation.org/press-release/hyperledger-releases-hyperledger-sawtooth-1-0/" style="cursor: pointer;text-decoration: none;">ПОДРОБНО О HYPERLEDGER SAWTOOTH</a>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</section>