.home-container {
    display: flex;
    flex-flow: column nowrap;  
    
  }

  .mat-card {
    margin: 0 16px 16px 0;
    width: 800px;
  }

  .material-icons{
      font-size: 5em;
  }
  
  .demo-card-blue {
    background-color: #b0becc;  
    
  }

  .mat-card-actions {
    display: flex;
    flex-direction: column;
  }

  p {
      font-size: 16px;
      padding: 5px;
      text-align: justify;
  }
  a {
    display: block;
  }
  