/* Structure */

.dashboard-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

/* Dashboard Header */

.dashboard-header {
  grid-column: span 12;
}

.dashboard-header .mat-card-subtitle {
  text-transform: uppercase;
  font-weight: 600;
}

/* Dashboard Content */

.dashboard-content {
  grid-column: span 12;
}

.admin-tools-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  min-width: 900px;
  padding: 10px;
}

.admin-tools-container h3 {
  color: rgba(0, 0, 0, 0.59) !important;
  font-size: 0.9em !important;
  text-transform: uppercase !important;
  font-weight: 600 !important;
}

.admin-role-container,
.admin-state-update-container,
.admin-delete-dbstate-container {
  grid-column: span 4;
  padding: 10px;
  border: solid 1px #00000036;
  display: flex;
  flex-direction: column;
  padding: 10px 10px;
  align-items: center;
  /* justify-content: center; */
  justify-content: space-around;
}

.admin-role-container img {
  width: 80px;
}

.admin-delete-dbstate-container p {
  font-size: 0.8em;
  font-weight: 800;
  color: #137726;
}

.admin-logs-container {
  grid-column: span 12;
  border: solid 1px #00000036;
  padding: 10px 50px;
}

.admin-logs-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  padding-left: 20px;
  /* box-shadow: 0px -1px 5px 0px black; */
  box-shadow: 0px -1px 5px 0px rgba(0, 0, 0, 0.4);
  margin-bottom: 5px;
}

.logs-view-container {
  height: 400px;
  overflow: auto;
}

.dbstate-update-button,
.state-update-button {
  width: 50%;
  /* box-shadow: 0px -1px 3px 0px rgba(0, 0, 0, 0.4); */
}

.admin-create-button {
  width: 80%;
  color: rgb(255, 255, 255) !important;
  background-color: rgb(67, 76, 160);
  margin-top: 10px !important;
}
.admin-create-button:hover {
  color: rgb(255, 255, 255) !important;
  background-color: rgb(30, 8, 88);
}

.state-update-button {
  color: rgb(255, 255, 255) !important;
  background-color: #43A047;
  margin-top: 10px !important;
}

.state-update-button:hover {
  color: rgb(255, 255, 255) !important;
  background-color: rgb(32, 134, 37);
}

.dbstate-update-button {
  background-color: rgba(0, 0, 0, .7);
  color: #ffffff !important;
  text-transform: uppercase;
}

.dbstate-update-button:hover {
  background-color: #f44336;
  color: #ffffff;
}

.logs-view-container pre {
  background-color: #080808;
  padding: 10px;
  color: gainsboro;
  font-family: monospace;
  white-space: pre-line;
}

/* .mat-table {
  overflow: auto;
  max-height: 600px;
} */

/* .btn-container button {
  width: 150px;
  padding: 5px;
  margin: 5px;
}

.admin-btn-container button {
  width: 150px;
  padding: 5px;
  margin: 5px;
}

.admin-btn-container,
.admin-role-container {
  box-shadow: 0 0 5px 0px black;
  padding: 10px;
  margin: 10px;
  height: auto;
  width: 400px;
}

.admin-logs-container {
  box-shadow: 0 0 5px 0px black;
  padding: 10px;
  margin: 10px;
  height: 600px;
  width: 800px;
}

pre {
  display: inline-block;
  font-family: monospace;
  white-space: pre;
  word-wrap: normal;
  margin: 30px 15px;
  overflow: auto;
  background-color: #ffffff;
  border: 1px solid #898989;
  padding: 5px;
} */