<section class="dashboard-container">
  <div class="dashboard-header">
    <mat-card>
      <mat-card-title-group>
        <!-- <mat-card-title>ПАНЕЛЬ УПРАВЛЕНИЯ 2FA</mat-card-title> -->
        <mat-card-subtitle>Система управления клиентами сервиса двухфакторной аутентификации</mat-card-subtitle>
        <i class="material-icons">settings</i>
      </mat-card-title-group>
      <mat-card-footer>
        <mat-progress-bar mode="determinate" value="100"></mat-progress-bar>
      </mat-card-footer>
    </mat-card>
  </div>
  <div class="dashboard-content">
    <mat-tab-group>
      <mat-tab label="СЕРВИС 2FA" *ngIf="role=='superadmin'">
        <app-service-clients-table></app-service-clients-table>
      </mat-tab>
      <mat-tab label="КАЗАХТЕЛЕКОМ" *ngIf="role=='superadmin' || role=='admin'">
        <app-clients-table></app-clients-table>
      </mat-tab>
      <mat-tab label="ИНСТРУМЕНТЫ АДМИНИСТРАТОРА">
        <div class="admin-tools-container" fxLayout="row" fxLayoutAlign="left top">
          <div class="left-containers">
            <div class="admin-role-container" fxLayout="column" fxLayoutAlign="left top">
              <h3>Роль администратора</h3>
              <p>{{ role }}</p>
            </div>
            <div class="admin-btn-container" fxLayout="column" fxLayoutAlign="left top">
              <h3>Обновление состояний БД</h3>
              <button mat-icon-button color="primary" (click)="uploadState('tfa')" *ngIf="role=='superadmin'">
                <mat-icon aria-label="Обновить таблицу из блокчейна TFA">cloud_upload</mat-icon>
                Выгрузить состояние 2FA
              </button>
              <button mat-icon-button color="primary" (click)="uploadState('kaztel')">
                <mat-icon aria-label="Обновить таблицу из блокчейна TFA">cloud_upload</mat-icon>
                Выгрузить состояние Казахтелеком
              </button>
            </div>
          </div>
          <div class="right-containers">
            <div class="admin-logs-container" fxLayout="column" fxLayoutAlign="left top">
              <div class="head-logs" fxLayout="row" fxLayoutAlign="left top">
                <h3>Просмотр логов</h3>
                <button mat-icon-button color="primary" (click)="uploadLog()">
                  <mat-icon aria-label="Обновить логи">autorenew</mat-icon>
                </button>
              </div>
              <pre>
                {{allLogs}}
              </pre>
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</section>