<section class="dashboard-container">
  <div class="dashboard-header">
    <mat-card>
      <mat-card-title-group>
        <!-- <mat-card-title>ПАНЕЛЬ УПРАВЛЕНИЯ 2FA</mat-card-title> -->
        <mat-card-subtitle>Система управления клиентами сервиса двухфакторной аутентификации</mat-card-subtitle>
        <i class="material-icons">settings</i>
      </mat-card-title-group>
      <mat-card-footer>
        <mat-progress-bar mode="determinate" value="100"></mat-progress-bar>
      </mat-card-footer>
    </mat-card>
  </div>
  <div class="dashboard-content">
    <mat-tab-group>
      <mat-tab label="СЕРВИС 2FA" *ngIf="role=='superadmin'">
        <app-service-clients-table></app-service-clients-table>
      </mat-tab>
      <mat-tab label="КАЗАХТЕЛЕКОМ" *ngIf="role=='superadmin' || role=='admin'">
        <app-clients-table></app-clients-table>
      </mat-tab>
      <mat-tab label="ИНСТРУМЕНТЫ АДМИНИСТРАТОРА">

        <div class="admin-tools-container">

          <div class="admin-role-container">
            <h3>Роль администратора</h3>
            <img *ngIf="role=='superadmin'" src="http://icons.veryicon.com/ico/Avatar/Free%20Large%20Boss/Superman.ico" alt="Суперадминистратор">
            <img *ngIf="role=='admin'" src="https://cdn1.iconfinder.com/data/icons/free-large-boss-icon-set/512/Businessman.png" alt="Просто администратор">
            <p *ngIf="role=='superadmin'">Администратор 2FA</p>
            <p *ngIf="role=='admin'">Администратор Казахтелеком</p>
            <button mat-button [routerLink]="['/register']" class="admin-create-button" color="primary" *ngIf="role=='superadmin'">
              <!-- <mat-icon aria-label="Обновить таблицу из блокчейна TFA">cloud_upload</mat-icon> -->
              НОВЫЙ АДМИНИСТРАТОР
            </button>
          </div>

          <div class="admin-state-update-container">
            <h3>Обновление состояний БД</h3>
            <button mat-button [routerLink]="['/dashboard']" class="state-update-button" color="primary" (click)="uploadState('tfa')" *ngIf="role=='superadmin'">
              <mat-icon aria-label="Обновить таблицу из блокчейна TFA">cloud_upload</mat-icon>
              Сервис 2FA
            </button>
            <button mat-button [routerLink]="['/dashboard']" class="state-update-button" color="primary" (click)="uploadState('kaztel')">
              <mat-icon aria-label="Обновить таблицу из блокчейна TFA">cloud_upload</mat-icon>
              Казахтелеком
            </button>
          </div>

          <div class="admin-delete-dbstate-container">
            <h3>Удаление состояний из БД</h3>
            <button mat-button [routerLink]="['/dashboard']" class="dbstate-update-button" color="primary" (click)="dbClear()" *ngIf="role=='superadmin'">
              <mat-icon aria-label="Очистить базу данных">delete</mat-icon>
              Очистить
            </button>
            <p>Внимание! Потребуется повторная загрузка состояния</p>
          </div>

          <div class="admin-logs-container">
            <div class="admin-logs-header">
              <h3>Просмотр логов</h3>
              <button mat-button class="upload-log-button" color="primary" (click)="uploadLog()">
                <mat-icon aria-label="Обновить логи">autorenew</mat-icon>
              </button>
            </div>
            <div class="logs-view-container">
              <pre>{{allLogs}}</pre>
            </div>
          </div>

        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</section>