.create-client-form  {
    box-shadow: 0 0 5px 0px black;
    padding: 50px;
    margin: 20px;
    height: 600px;
}

.create-client-form mat-form-field,
.create-client-form mat-checkbox,
.create-client-form mat-list {
    width: 400px;
}

@media (max-width: 750px) {
    .create-client-form mat-form-field,
    .create-client-form mat-checkbox,
    .create-client-form mat-list {
        width: 300px;
        font-size: .99em;
    }
    .create-client-form h1 {
        font-size: .99em;
    }
    .create-client-form mat-checkbox {
        font-size: .8em;
    }
}

@media (max-width: 450px) {
    .create-client-form mat-form-field,
    .create-client-form mat-checkbox,
    .create-client-form mat-list {
        width: 200px;
        font-size: .95em;
    }
    .create-client-form h1 {
        font-size: .95em;
    }
    .create-client-form mat-checkbox {
        font-size: .7em;
    }
}