

<div class="check-client-container" *ngIf="checkForm">
  <div class="create-client-form check-client-form">
    <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" (ngSubmit)="checkClients();" #checkForm="ngForm">
      <mat-form-field hintLabel="Формат номера +77XXXXXXXXX">
        <span matPrefix>+7&nbsp;7</span>
        <input type="text" matInput placeholder=" &nbsp;Номер телефона" [(ngModel)]="client.CheckPhoneNumber" oninput="this.value=this.value.replace(/[^0-9]/g,'');"
          minlength="9" maxlength="9" name="CheckPhoneNumber" required #checkPhoneNumberInput="ngModel">
        <mat-icon matSuffix>phone</mat-icon>
        <mat-hint align="end">{{checkPhoneNumberInput.value?.length || 0}}/9</mat-hint>
        <mat-error *ngIf="checkPhoneNumberInput.hasError('required')">Поле не должно быть пустым</mat-error>
        <!-- <mat-error *ngIf="!checkPhoneNumberInput.hasError('required')">Неверный формат номера</mat-error> -->
        <mat-error></mat-error>
      </mat-form-field>
      <button type="submit" mat-raised-button color="primary" [disabled]="!checkForm.form.valid">Проверить номер</button>
    </form>
  </div>
</div>


<div class="create-client-container" *ngIf="!checkForm">
  <section class="create-client">
    <mat-card>
      <mat-card-title-group>
        <mat-card-title>Новый клиент 2FA</mat-card-title>
        <i class="material-icons">assignment_ind</i>
      </mat-card-title-group>
      <mat-card-footer>
        <mat-progress-bar mode="determinate" value="100"></mat-progress-bar>
      </mat-card-footer>
    </mat-card>

    <section class="create-client-form" fxLayout="column" fxLayoutAlign="center center">
      <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" (ngSubmit)="saveClient()" #clientForm="ngForm">

        <mat-form-field hintLabel="Максимум 50 символов">
          <input required matInput type="text" placeholder="ФИО клиента" name="Name" [(ngModel)]="client.Name" #nameInput="ngModel"
            oninput="this.value=this.value.replace(/[^а-яА-Я\s]+/g,'');" maxlength="50" [disabled]="existingClient">
          <mat-icon matSuffix>person</mat-icon>
          <mat-hint align="end">{{nameInput.value?.length || 0}}/50</mat-hint>
          <mat-error *ngIf="nameInput.hasError('required')">Поле не должно быть пустым</mat-error>
          <mat-error *ngIf="!nameInput.hasError('required')">Неверно введено имя</mat-error>
          <mat-error></mat-error>
        </mat-form-field>

        <mat-form-field hintLabel="Формат номера 77XXXXXXXXX">
          <input required matInput type="tel" placeholder="Номер телефона" name="PhoneNumber" [(ngModel)]="client.PhoneNumber" #phoneNumberInput="ngModel"
            oninput="this.value=this.value.replace(/[^0-9]/g,'');" maxlength="11" [disabled]="client.PhoneNumber">
          <mat-icon matSuffix>phone</mat-icon>
          <mat-hint align="end">{{phoneNumberInput.value?.length || 0}}/11</mat-hint>
          <mat-error *ngIf="phoneNumberInput.hasError('required')">Поле не должно быть пустым</mat-error>
          <mat-error *ngIf="!phoneNumberInput.hasError('required')">Неверный формат номера</mat-error>
          <mat-error></mat-error>
        </mat-form-field>

        <mat-form-field hintLabel="Максимум 12 цифр">
          <input required matInput type="text" placeholder="ИИН" name="Uin" [(ngModel)]="client.Uin" #uinInput="ngModel" oninput="this.value=this.value.replace(/[^0-9]/g,'');"
            maxlength="12" [disabled]="existingClient">
          <mat-icon matSuffix>contacts</mat-icon>
          <mat-hint align="end">{{uinInput.value?.length || 0}}/12</mat-hint>
          <mat-error *ngIf="uinInput.hasError('required')">Поле не должно быть пустым</mat-error>
          <mat-error *ngIf="!uinInput.hasError('required')">Неверный формат номера</mat-error>
          <mat-error></mat-error>
        </mat-form-field>

        <mat-form-field hintLabel="Максимум 50 символов">
          <input required matInput type="email" placeholder="E-mail" name="Email" [(ngModel)]="client.Email" #emailInput="ngModel"
            maxlength="50" [disabled]="existingClient">
          <mat-icon matSuffix>email</mat-icon>
          <mat-hint align="end">{{emailInput.value?.length || 0}}/50</mat-hint>
          <mat-error *ngIf="emailInput.hasError('required')">Поле не должно быть пустым</mat-error>
          <mat-error *ngIf="!emailInput.hasError('required')">Неверный формат email</mat-error>
          <mat-error></mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-select required placeholder="Пол" name="Sex" [(ngModel)]="client.Sex" [disabled]="existingClient">
            <mat-option *ngFor="let sex of sexs" [value]="sex.value">
              {{sex.viewValue}}
            </mat-option>
          </mat-select>
          <mat-icon matSuffix>wc</mat-icon>
        </mat-form-field>

        <mat-form-field *ngIf="!existingClient">
          <input disabled matInput [matDatepicker]="picker" placeholder="Дата рождения" name="Birthdate" [(ngModel)]="client.Birthdate"
            [min]="minDate" [max]="maxDate">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker disabled="false"></mat-datepicker>
        </mat-form-field>

        <mat-form-field *ngIf="existingClient">
          <input matInput placeholder="Дата рождения" name="Birthdate" [value]="client.Birthdate | date: 'dd.MM.yyyy'" [disabled]="existingClient">
          <mat-icon matSuffix>email</mat-icon>
        </mat-form-field>


        <mat-form-field hintLabel="Максимум 6 цифр" *ngIf="role=='admin'">
          <input required matInput type="text" placeholder="Персональный аккаунт" name="PersonalAccount" [(ngModel)]="client.AdditionalData.PersonalAccount"
            #personalAccountInput="ngModel" oninput="this.value=this.value.replace(/[^0-9]/g,'');" maxlength="6">
          <mat-icon matSuffix>account_box</mat-icon>
          <mat-hint align="end">{{personalAccountInput.value?.length || 0}}/6</mat-hint>
          <mat-error *ngIf="personalAccountInput.hasError('required')">Поле не должно быть пустым</mat-error>
          <mat-error *ngIf="!personalAccountInput.hasError('required')">Неверный формат номера</mat-error>
          <mat-error></mat-error>
        </mat-form-field>

        <mat-form-field *ngIf="role=='admin'">
          <mat-select required placeholder="Регион" name="Region" [(ngModel)]="client.AdditionalData.Region">
            <mat-option *ngFor="let region of regionsRu" [value]="region.value">
              {{region.value}}
            </mat-option>
          </mat-select>
          <mat-icon matSuffix>edit_location</mat-icon>
        </mat-form-field>

        <div>
          <button mat-raised-button [routerLink]="['/dashboard']">Отмена</button>
          <button mat-raised-button type="submit" color="primary" [disabled]="!clientForm.form.valid">Создать</button>
        </div>
      </form>
    </section>
  </section>
</div>