<div class="register-container">
  <section class="register-form" fxLayout="column" fxLayoutAlign="center center">
    <mat-list>
      <mat-list-item>
        <h1>РЕГИСТРАЦИЯ</h1>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
    <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" #signupForm="ngForm" (submit)="onRegisterSubmit()">
      <mat-form-field hintLabel="Максимум 50 символов">
        <input type="text" matInput placeholder="Введите Ваше имя" [(ngModel)]="name" name="name" required maxlength="50" #nameInput="ngModel">
        <mat-icon matSuffix>person</mat-icon>
        <mat-hint align="end">{{nameInput.value?.length || 0}}/50</mat-hint>
        <mat-error *ngIf="nameInput.hasError('required')">Поле не должно быть пустым</mat-error>
        <mat-error *ngIf="!nameInput.hasError('required')">Неверно введено имя</mat-error>
        <mat-error></mat-error>
      </mat-form-field>
      <mat-form-field hintLabel="Максимум 20 символов">
        <input type="text" matInput placeholder="Введите Ваш логин" [(ngModel)]="username" name="username" required maxlength="20"
          #usernameInput="ngModel">
        <mat-icon matSuffix>contacts</mat-icon>
        <mat-hint align="end">{{usernameInput.value?.length || 0}}/20</mat-hint>
        <mat-error *ngIf="usernameInput.hasError('required')">Поле не должно быть пустым</mat-error>
        <mat-error *ngIf="!usernameInput.hasError('required')">Неверный формат логина</mat-error>
        <mat-error></mat-error>
      </mat-form-field>
      <mat-form-field hintLabel="Максимум 50 символов">
        <input type="email" matInput placeholder="Введите Ваш e-mail" [(ngModel)]="email" name="email" required maxlength="50" #emailInput="ngModel">
        <mat-icon matSuffix>email</mat-icon>
        <mat-hint align="end">{{emailInput.value?.length || 0}}/50</mat-hint>
        <mat-error *ngIf="emailInput.hasError('required')">Поле не должно быть пустым</mat-error>
        <mat-error *ngIf="!emailInput.hasError('required')">Неверный формат email</mat-error>
        <mat-error></mat-error>
      </mat-form-field>
      <mat-form-field hintLabel="Минимум 6 символов">
        <input type="password" matInput placeholder="Введите Ваш пароль" [type]="hide ? 'password' : 'text'" [(ngModel)]="password"
          name="password" required minlength="6" #pwInput="ngModel">
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
        <mat-hint align="end">{{ pwInput.value?.length}} / 6</mat-hint>
        <mat-error>Пароль не может быть меньше 6 символов</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-select [(ngModel)]="role" name="role" placeholder="Роль" required>
            <mat-option *ngFor="let role of roles" [value]="role.value">
              {{role.viewValue}}
            </mat-option>
          </mat-select>
        <mat-icon matSuffix>supervisor_account</mat-icon>
      </mat-form-field>
      <!-- <mat-checkbox ngModel name="agree" required color="primary">Я принимаю условия соглашения</mat-checkbox> -->
      <button type="submit" mat-raised-button color="primary" [disabled]="signupForm.invalid">Зарегистрироваться</button>
    </form>
  </section>
</div>