<div class="client-detail-container">
  <div class="client-detail-actions">
    <button *ngIf="edit" mat-raised-button class="action-button" color="primary" [routerLink]="['/client-edit', address]">РЕДАКТИРОВАТЬ</button>
    <div>
      <button mat-raised-button class="action-button" color="primary" [routerLink]="['/client-create']">НОВЫЙ ПОЛЬЗОВАТЕЛЬ</button>
      <button mat-raised-button class="action-button" color="primary" [routerLink]="['/dashboard']">ВСЕ ПОЛЬЗОВАТЕЛИ</button>
    </div>
  </div>
  <div class="client-detail-form">
    <mat-list dense>
      <h2 mat-subheader>Пользователь сети</h2>
      <mat-divider></mat-divider>
      <mat-list-item>
        <mat-icon mat-list-icon>perm_identity</mat-icon>
        <h4 mat-line>ФИО</h4>
        <p mat-line> {{client?.Name}} </p>
      </mat-list-item>

      <mat-list-item>
        <mat-icon mat-list-icon>phone</mat-icon>
        <h4 mat-line>Номер телефона</h4>
        <p mat-line> {{client?.PhoneNumber}} </p>
      </mat-list-item>

      <mat-list-item>
        <mat-icon mat-list-icon>recent_actors</mat-icon>
        <h4 mat-line>ИИН</h4>
        <p mat-line> {{ client?.Uin }} </p>
      </mat-list-item>

      <mat-list-item>
        <mat-icon mat-list-icon>email</mat-icon>
        <h4 mat-line>Email</h4>
        <p mat-line> {{ client?.Email }} </p>
      </mat-list-item>

      <mat-list-item>
        <mat-icon mat-list-icon>wc</mat-icon>
        <h4 mat-line>Пол</h4>
        <p mat-line *ngIf="client?.Sex=='male'; then thenBlock; else elseBlock"></p>
        <ng-template #thenBlock>
          <p mat-line>Мужской</p>
        </ng-template>
        <ng-template #elseBlock>
          <p mat-line> Женский</p>
        </ng-template>
      </mat-list-item>

      <mat-list-item>
        <mat-icon mat-list-icon>date_range</mat-icon>
        <h4 mat-line>Дата рождения</h4>
        <p mat-line> {{ client?.Birthdate | date: 'd.MM.yyyy' }} </p>
      </mat-list-item>

      <mat-list-item>
        <mat-icon mat-list-icon>verified_user</mat-icon>
        <h4 mat-line>Подтвержден в системе</h4>
        <p mat-line *ngIf="client?.IsVerified;else notVerified"> Да </p>
        <ng-template #notVerified>
          <p mat-line> Нет </p>
        </ng-template>
      </mat-list-item>

      <mat-list-item *ngIf="client?.AdditionalData">
        <mat-icon mat-list-icon>account_box</mat-icon>
        <h4 mat-line>Персональный аккаунт</h4>
        <p mat-line> {{ client?.AdditionalData.PersonalAccount }} </p>
      </mat-list-item>

      <mat-list-item *ngIf="client?.AdditionalData">
        <mat-icon mat-list-icon>person_pin_circle</mat-icon>
        <h4 mat-line>Регион</h4>
        <p mat-line> {{ client?.AdditionalData.Region }} </p>
      </mat-list-item>
    </mat-list>
  </div>

  <div class="log-table-container" *ngIf="!client?.Logs">
    <mat-list dense>
      <h2 mat-subheader>История действий пользователя</h2>
      <mat-divider></mat-divider>
      <mat-list-item>
          <p mat-line>История действий пользователя ведется в базе клиента. Для доступа к истории пользователя откройте просмотр из таблицы клиента</p>
      </mat-list-item>
    </mat-list>
  </div>
  <div class="log-table-container" *ngIf="client?.Logs">
    <mat-list dense>
      <h2 mat-subheader>История действий пользователя</h2>
      <mat-divider></mat-divider>
    </mat-list>
    <div class="log-table-filter">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Фильтр событий">
      </mat-form-field>
    </div>

    <mat-table #table [dataSource]="dataSource">

      <!-- Event Column -->
      <ng-container matColumnDef="Event">
        <mat-header-cell *matHeaderCellDef> Событие </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.Event}} </mat-cell>
      </ng-container>

      <!-- Status Column -->
      <ng-container matColumnDef="Status">
        <mat-header-cell *matHeaderCellDef> Статус </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.Status}} </mat-cell>
      </ng-container>

      <!-- Code Column -->
      <ng-container matColumnDef="Code">
        <mat-header-cell *matHeaderCellDef> Код </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.Code}} </mat-cell>
      </ng-container>

      <!-- ExpiredAt Column -->
      <ng-container matColumnDef="ExpiredAt">
        <mat-header-cell *matHeaderCellDef> Истекает </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.ExpiredAt | date: 'dd.MM.yyyy'}} </mat-cell>
      </ng-container>

      <!-- Embeded Column -->
      <ng-container matColumnDef="Embeded">
        <mat-header-cell *matHeaderCellDef> Прикреплен </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.Embeded}} </mat-cell>
      </ng-container>

      <!-- ActionTime Column -->
      <ng-container matColumnDef="ActionTime">
        <mat-header-cell *matHeaderCellDef> Время действия </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.ActionTime | date: 'dd.MM.yyyy'}} </mat-cell>
      </ng-container>

      <!-- Method Column -->
      <ng-container matColumnDef="Method">
        <mat-header-cell *matHeaderCellDef> Метод </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.Method}} </mat-cell>
      </ng-container>

      <!-- Cert Column -->
      <ng-container matColumnDef="Cert">
        <mat-header-cell *matHeaderCellDef> Сертификат </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.Cert}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true">
    </mat-paginator>
  </div>

</div>