<mat-nav-list>
  <a *ngIf="!isAuth" mat-list-item routerLink="/signup" (click)="onClose()">
    <mat-icon class="sidenav-mat-icon">person add</mat-icon>
    <span class="nav-caption">Регистрация</span>
  </a>
  <a *ngIf="!isAuth" mat-list-item routerLink="/login" (click)="onClose()">
    <mat-icon class="sidenav-mat-icon">lock open</mat-icon>
    <span class="nav-caption">Войти</span>
  </a>
  <a *ngIf="isAuth" mat-list-item routerLink="/users" (click)="onClose()">
    <mat-icon class="sidenav-mat-icon">people</mat-icon>
    <span class="nav-caption">Управление пользователями</span>
  </a>
  <a *ngIf="isAuth" mat-list-item routerLink="/users" (click)="onClose()">
    <mat-icon class="sidenav-mat-icon">info</mat-icon>
    <span class="nav-caption">Справка</span>
  </a>
  <mat-list-item *ngIf="isAuth">
  <button mat-icon-button style="cursor: pointer" (click)="onLogout()">
    <mat-icon class="sidenav-mat-icon">input</mat-icon>
    <span class="nav-caption">Выйти</span>
  </button>
  </mat-list-item>
</mat-nav-list>
