<mat-toolbar color="primary">
  <div>
    <li class="navigation-items" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
      <a [routerLink]="['/']">
        <span>ГЛАВНАЯ</span>
      </a>
    </li>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="flex-end">
    <ul fxLayout fxLayoutGap="15px" class="navigation-items">
      <li *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a [routerLink]="['/dashboard']">ПАНЕЛЬ ЗАДАЧ </a>
      </li>
      <li *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a [routerLink]="['/profile']">ПРОФИЛЬ </a>
      </li>
      <li *ngIf="!authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a [routerLink]="['/login']">ВОЙТИ </a>
      </li>
      <li *ngIf="!authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a [routerLink]="['/register']">РЕГИСТРАЦИЯ</a>
      </li>
      <li *ngIf="authService.loggedIn()">
        <a style="cursor: pointer" (click)="onLogoutClick()">ВЫЙТИ</a>
      </li>
    </ul>
  </div>
</mat-toolbar>